@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: League Spartan;
  background-color: hsl(180deg, 52%, 96%);
}

header {
  height: 10rem;
  position: relative;
  z-index: 2;
  background-image: url(../images/bg-header-desktop.svg);
  background-color: hsl(180deg, 29%, 50%);
  background-repeat: no-repeat;
  background-size: cover;
}
@media screen and (max-width: 640px) {
  header {
    background-image: url(../images/bg-header-mobile.svg);
  }
}

.flex-container {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  margin-bottom: 3rem;
  gap: 2rem;
  z-index: 5;
}
.flex-container__job-filter {
  position: relative;
  z-index: 10;
  width: 80vw;
  display: flex;
  background-color: white;
  box-shadow: hsl(180deg, 29%, 50%) 0px 10px 5px -20px, hsl(180deg, 29%, 50%) 0px 5px 15px -5px;
  padding: 1rem;
  top: -2rem;
}
.flex-container__job-filter__container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-right: auto;
}
.flex-container__job-filter__container__ele {
  padding-left: 0.5rem;
  display: inline-flex;
  gap: 1rem;
  background-color: hsl(180deg, 31%, 95%);
  color: hsl(180deg, 29%, 50%);
}
.flex-container__job-filter__container__ele span {
  display: inline-block;
  margin: auto;
}
.flex-container__job-filter__container button {
  border: none;
  outline: none;
  color: hsl(180deg, 31%, 95%);
  background-color: hsl(180deg, 29%, 50%);
  padding: 0.3rem 0.5rem;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
}
.flex-container__job-filter__container button:hover {
  background-color: black;
  color: white;
}
.flex-container__job-filter__clear {
  background-color: white;
  color: hsl(180deg, 29%, 50%);
  outline: none;
  margin: auto 0rem;
  border: none;
  cursor: pointer;
}
.flex-container__job-filter__clear:hover {
  text-decoration: underline;
}
.flex-container__card {
  width: 80vw;
  padding: 1rem;
  background-color: white;
  box-shadow: hsl(180deg, 29%, 50%) 0px 10px 5px -20px, hsl(180deg, 29%, 50%) 0px 5px 15px -5px;
  display: flex;
  border-radius: 5px;
  gap: 1rem;
}
.flex-container__card img {
  width: 5rem;
  height: 5rem;
}
.flex-container__card hr {
  display: none;
}
.flex-container__card__employement-details {
  margin-right: auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.flex-container__card__employement-details ul {
  display: flex;
  gap: 1.5rem;
  color: hsl(180deg, 8%, 52%);
  font-size: small;
  white-space: nowrap;
}
.flex-container__card__employement-details ul li:first-child {
  list-style: none;
}
.flex-container__card__employement-details__employer {
  display: flex;
  gap: 1rem;
  align-items: center;
  font-weight: 600;
}
.flex-container__card__employement-details__employer span:first-child {
  color: hsl(180deg, 29%, 50%);
  font-weight: 600;
}
.flex-container__card__employement-details__employer span:nth-child(2) {
  color: white;
  background-color: hsl(180deg, 29%, 50%);
  padding: 0.3rem 0.5rem;
  font-size: small;
  border-radius: 1rem;
  text-transform: uppercase;
}
.flex-container__card__employement-details__employer span:nth-child(3) {
  color: white;
  background-color: black;
  padding: 0.3rem 0.5rem;
  border-radius: 1rem;
  font-size: small;
  text-transform: uppercase;
}
.flex-container__card__search-tag {
  display: inline-block;
  margin: auto 0rem;
}
.flex-container__card__search-tag button {
  color: hsl(180deg, 29%, 50%);
  margin-left: 1rem;
  margin-bottom: 1rem;
  background-color: hsl(180deg, 31%, 95%);
  font-weight: bold;
  border: none;
  outline: none;
  padding: 0.5rem;
  cursor: pointer;
}
.flex-container__card__search-tag button:hover {
  background-color: hsl(180deg, 29%, 50%);
  color: white;
}
@media screen and (max-width: 346px) {
  .flex-container__card__employement-details ul {
    font-size: 3.5vw;
  }
  .flex-container__card__employement-details h3 {
    font-size: 5vw;
  }
  .flex-container__card__employement-details__employer span:first-child {
    font-size: 4vw;
  }
  .flex-container__card__employement-details__employer span:nth-child(2) {
    font-size: 3vw;
  }
  .flex-container__card__employement-details__employer span:nth-child(3) {
    font-size: 3vw;
  }
  .flex-container__card__search-tag button {
    font-size: 3.5vw;
  }
}
@media screen and (max-width: 752px) {
  .flex-container {
    gap: 3rem;
    padding-bottom: 3rem;
  }
  .flex-container__card {
    flex-direction: column;
    position: relative;
  }
  .flex-container__card img {
    position: absolute;
    margin-left: 0.8rem;
    width: 4rem;
    height: 4rem;
    top: -2rem;
  }
  .flex-container__card hr {
    display: inline;
    border: 2px solid hsl(180deg, 8%, 52%);
    border-top: 0px;
    margin-left: 1rem;
  }
  .flex-container__card__employement-details {
    margin-top: 1.5rem;
    margin-left: 1rem;
    margin-bottom: 1rem;
  }
  .flex-container__card__search-tag {
    margin: 0%;
  }
}/*# sourceMappingURL=index.css.map */